.view-high-scores a {
    font-size: medium;
    color: #a281b8;
    cursor: pointer;
}

.view-high-scores a:hover{
   font-size: 20px;
   text-decoration: none;
   text-shadow: 2px 2px 8px #470077;
}

.timer-text, .timerdiv {
    font-size: medium;
    color: black;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-weight: lighter;
    font-style: italic;
}

.btn {
    background-color: #470077;
    border: none;
}

.btn:hover{
    background-color: #a281b8
}

.btn a {
    color: white;
    text-decoration: none;
}

.btn-group-vertial {
    border: none;
}